/* begin Page */

/* Created by Artisteer v3.1.0.48375 */

#art-main {
   zoom:expression(runtimeStyle.zoom=1,calcWidth=function(o){var p='90%';var min=700;var max=1728;var b=document.body;if(o.w!=b.clientWidth){o.w=b.clientWidth;var w=b.clientWidth/100*parseInt(p);return w < min ? min+'px': w > max ? max+'px':p;}});
   width:auto;
}
#art-page-background-glare{
   display: none;
}
.cleared {
   width:1px;
}
/* Start Box */
.art-box, .art-box-body {
   zoom:1;
}
/* End Box */
/* Start Bar */
.art-bar{
   zoom:1;
}
/* End Bar */
/* end Page */

/* begin Menu */
ul.art-hmenu, ul.art-hmenu ul, ul.art-hmenu li, ul.art-hmenu a {
   zoom:1;
}
.art-hmenu li.art-hmenuhover{
   z-index: 10000;
}
.art-hmenu .art-hmenuhoverUL{
   visibility: visible;
   top: 100%;
   left: 0;
}
.art-hmenu .art-hmenuhoverUL .art-hmenuhoverUL{
   top: 0;
   left: 100%;
}
.art-hmenu ul li {
   float: left !important;
   clear: both;
   width: 100%;
}
.art-nav
{
   zoom: 1;
   height: 38px;
   background:#297DC2;
   width:expression(calcWidth(this));
}

/* end Menu */

/* begin MenuItem */
.art-hmenu a 
{
   display:inline-block;
   color: #000000;
   padding: 0 17px;
   line-height: 23px;
   text-align: center;
}

.art-hmenu a.active 
{
   color: #AEB9B4;
   background-color:#2A302D;
}

.art-hmenu a:hover, .art-hmenuhoverA,  .art-hmenuhover a 
{
   color: #252A27;
   background-color:#87BBE6;
}

/* end MenuItem */

/* begin MenuSeparator */
ul.art-hmenu li {
   margin-left:expression(this.previousSibling==null?'0':'9px');
}
ul.art-hmenu li li{
   margin-left:0;
}

span.art-hmenu-separator
{
   position:absolute;
   display: block;
   top:0;
   left:  -9px;
   width: 9px;
   height: 23px;
   background: url('images/menuseparator.png') center center no-repeat;
}
/* end MenuSeparator */

/* begin MenuSubItem */
.art-hmenu ul a 
{
   color: #000000 !important;
   float: left;
}

.art-hmenu ul a:hover, .art-hmenu ul .art-hmenuhover .art-hmenuhoverA 
{
   color: #1D211F !important;
   background-position: left bottom;
   border-color: #87BBE6;
   border-top-width: 1px !important;
}

/* end MenuSubItem */

/* begin Box, Sheet */
.art-sheet {
   background:#0E100F;
   width:expression(calcWidth(this));
}

/* end Box, Sheet */

/* begin Layout */
.art-content-layout, .art-content-layout-row, .art-layout-cell 
{
   display: block;
   zoom: 1;
}
.art-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}
/* end Layout */

/* begin Box, Block, VMenuBlock */
.art-vmenublock {
   background:#0E100F;
}
/* end Box, Block, VMenuBlock */

/* begin Box, Box, VMenuBlockContent */
.art-vmenublockcontent {
   background:#0E100F;
}

/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.art-vmenu, ul.art-vmenu ul, ul.art-vmenu li, ul.art-vmenu a
{
   position:relative;
   zoom: 1;
}

ul.art-vmenu li {
   z-index:0;
   margin-top:expression(this.previousSibling==null?'0':'1px');
}
ul.art-vmenu ul{
   margin-top:1px;
   padding-bottom: 2px;
}

ul.art-vmenu a 
{
   color: #B7C1BC;
   background-color:#0E100F;
   padding: 0 10px 0 10px;
   height: 34px;
   line-height: 34px;
}

.art-vmenu a.active 
{
   color: #383838;
   background-color:#9CA9A3;
}

ul.art-vmenu a:hover
{
   color: #FFFFFF;
   background-color:#6B7B73;
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.art-vmenu ul a {
   color: #B7C1BC !important;
}
ul.art-vmenu li li {
   padding-top:expression(this.previousSibling==null?'2px':'0');
   margin-top:expression(this.previousSibling==null?'0':'1px');
}
 
ul.art-vmenu ul ul {
   margin-top:1px;
}
ul.art-vmenu ul a.active {
   color: #BCBCBC !important;
}
ul.art-vmenu ul a:hover {
   color: #B7C1BC !important;
}	
/* end VMenuSubItem */

/* begin Box, Block */
.art-block {
   background:#0E100F;
}
/* end Box, Block */

/* begin BlockHeader */
.art-blockheader {
   background:#549EDB;
}
/* end BlockHeader */

/* begin Box, BlockContent */
.art-blockcontent {
   background:#0E100F;
}
.art-blockcontent-body ul li{
   height: 1%;
}

/* end Box, BlockContent */

/* begin Button */
.art-button-wrapper{
   zoom: 1;
}
.art-button-wrapper .art-button-l, .art-button-wrapper .art-button-r {
   display: none;
}
.art-button-wrapper .art-button {
   float: left;
}
/* end Button */

/* begin Box, Post */
.art-post {
   background:#0E100F;
}
/* end Box, Post */

/* begin PostIcons, PostHeaderIcons */
.art-postheadericons span{
   zoom: 1;
}
/* end PostIcons, PostHeaderIcons */

/* begin PostBullets */
.art-post ul li, .art-post ol ul li
{
   height: 1%;
   padding-left: 13px;
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

.art-post ul ol li
{
   background: none;
   padding-left: 0;
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}
/* end PostBullets */

/* begin PostIcons, PostFooterIcons */
.art-postfootericons span{
   zoom: 1;
}
/* end PostIcons, PostFooterIcons */

/* begin Footer */
.art-footer-body{
   padding-right: 0;
   zoom:1;
}
.art-footer{
   zoom:1;
   background:#C0C8C4;
}

.art-footer-text
{
   height: 27px;
}

.art-rss-tag-icon
{
   zoom: 1;
   font-size: 1px;
}

/* end Footer */

/* begin LayoutCell, content */
.art-content {
   width: auto;
}
/* end LayoutCell, content */

