h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.hide {
	display: none;
}

.border_black {
	border-color: #eeeeee;
	border-width: 1px;
	border-style: solid;
	padding: 0px;
	margin: 0px;
}

.border_white {
	border-color: #ffffff;
	border-width: 1px;
	border-style: solid;
	padding: 0px;
	margin: 0px;
}

.white_text {
	color: #fff;
	font-size: 12px;
}

.border_pink {
	border-color: #ff00ff;
	border-style: solid;
	border-width: 1px;
}
.lh_30{
  line-height: 30px;
}

.lh_40 {
	line-height: 40px;
}

.lh_60 {
	line-height: 60px;
}

box_info {
	background-color: #444444;
	color: #ffffff;
	margin-left: 1px;
	margin-right: 1px;
	height: 12px;
	margin-top: 7px;
	float: none;
	border-style: solid;
	border-color: #888888;
	border-width: 1px;
	text-align: center;
	font-size: 9px;
	opacity: 0.001;
}

.box_info_ {
	background-color: #444444;
	color: #ffffff;
	margin-left: 1px;
	margin-right: 1px;
	height: 20px;
	margin-top: 1px;
	float: none;
	border-style: solid;
	border-color: #888888;
	border-width: 1px;
	text-align: center;
	font-size: 10px;
	opacity: 0.001;
}

.greyfelt_button {
	background: #AAAAAA;
	background-image: url("../img/greyfelt.jpg");
	color: #fff;
	border-style: outset;
	border-color: #000;
	text-shadow: none;
	border: 1px solid #fff;
	border-radius: 14px;
	box-shadow: 1px 1px 1px #000;
}



.toggle_left {
	width: 70px;
	height: 35px;
	background-image: url("../img/toggle_left.png");
}

.toggle_right {
	width: 70px;
	height: 35px;
	background-image: url("../img/toggle_right.png");
}

/*-- interface components ----*/
.tab {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
}

.tab_title {
	position: absolute;
	right: 5px;
	padding: 5px;
}

.tab_buttons {
	width: 640px;
	height: 32px;
	background-color: #787878;
	float: left;
}

.tab_button {
	float: left;
	padding: 8px;
	background-color: #454545;
	color: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}

.tab_button_selected {
	float: left;
	padding: 8px;
	background-color: #454545;
	color: #ffffff;
	border-style: solid;
	border-bottom-style: none;
	border-width: 1px;
	border-color: #000000;
}

.tab_bodies {
	width: 640px;
	height: 400px;
	background-color: #000;
	opacity: 100%;
}

.tab_body {
	text-align: left;
}

/*-- chart tab --*/
canvas {
	border: 1px;
}

.chart-container {
	max-width: "600px";
	max-height: "300px";
	margin: auto;
	position: absolute;
	left: "0px";
	top: "30px";
	float: left;
}

/*-- debug tab --*/
.debug_tab {
	width: 100%;
	height: 100%;
	float: left;
	text-align: left;
	overflow: scroll;
}
.debug {
	background-color: #000000;
	color: #aa0000;
	font-size: 12px;
}
.debug_sl {
	position: absolute;
	bottom: 0px;
	left: 50px;
	height: 25px;
	width: 100%;
}

/*-- how to play --*/
.article{
	width: 100%;
	height: 100%;
	float: left;
	text-align: left;
	overflow: scroll;	
}

.odds_box {
	margin: 15px;
	float: left;
}

.odds_label {
	padding: 4px;
	font-size: 14px;
	color: #ffffff;	
	font-family: Garamond;	
	text-align: center;	
}

.last50 {
	width: 584px;
	height: 26px;
	left: 28px;
	bottom: 12px;	
	border-width: 1px;
	border-color: #888;
	border-style: solid;
	position: absolute;
	background-color: #000;
	color: #fff;
	z-index: 0;
	line-height: 25px;	
	overflow: hidden;
}

.app_button {
	position: relative;
	left: 4px;
	padding-left: 4px;
	padding-right: 0px;
	margin: 4px;
	float: left;
	background-repeat: no-repeat;
}

.settings_button{
	width: 32px;
	height: 32px;
	background-image: url("../img/gear.png");
	background-size: contain;
}

.info_button{
	width: 32px;
	height: 32px;
	border-radius: 16px;
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
	color: #333;
}

.personel_button{
	width: 32px;
	height: 32px;
	background-image: url("../img/personel.png");
	background-size: contain;
	border-radius: 16px;	
}

.casino_games{
	width: auto;
	height: 94px;
	overflow-y: auto;
	overflow-x: hidden;
	border-style: solid;
	border-color: #888888;
	border-width: 1px;  
}

.bet_tables{
	width: auto;
	height: 132px;
	overflow-y: auto;
	overflow-x: hidden;
	border-style: solid;
	border-color: #888888;
	border-width: 1px; 	
	display: none;
}

.bet_tables div{
	padding-left: 10px;
	float: left;
}
