.Message{
	
}
.login_form{
	width:300px;
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-width: thin;
	border-color: #599ACD;
}
.login_form table td{
	border-style: none;
}
.login_form a{
	padding: 2px;
	margin: 2px;
	text-decoration:none;
}

.error{
	padding-left: 5px;
	color: #C00;
	border:thin;
	border-style:solid;
	width: 500px;
	background-color:#FFF;
}
.error h2{
	color: #000;
}

.ImgInfoBox{
	background-color: #222222; 
	height:350px;
	padding: 5px;
	margin: 10px;
}
.ImgZoom img{
	max-height:360px;
	max-width: 480px;
	float: left;
}
.ThumbViewBox {
    background-color: #000000;
	float: left;
}
.tn {
	padding: 2px;
}
.LogViewBox{
    background-color: #000000;
    border-color: #2a2a2a;
    border-style: solid;
    border-width: thin;
    min-height: 42px;
}
.LogViewBox a:link, a:visited, a:active{
    color: #D6D6D6;
    text-decoration: none;
    font-weight:bold;    
}
.LogViewBox a:hover{
    color: #fff;
    text-decoration: none;
}
.LogViewTitle{
    color: #00a1ff;
    padding-left: 10px;
    padding-right: 10px;
}
.LogViewTable{
    background-color: #000000;
    border-color: #2a2a2a;
    border-style: solid;
    border-width: thin;
    border-spacing: 0px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
	width: 100%;
}
.LogViewTable td{
    padding: 2px;
    color: #D6D6D6;
}
.LogViewHeadTable{
    background-color: #123e2e;
}
.LogViewEvenTable{
    background-color: #000;
}
.LogViewEvenTable:hover{
    background-color: #022417;
}
.LogViewOddTable{
    background-color: #111;
}
.LogViewOddTable:hover{
    background-color: #022417;
}
.User_Agent_Img{
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	display: block;
	position: relative;
}



/* jQuery File Uploader fileBox styles */
.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 4px;
  margin-left: 4px;
  background-image: url(../images/upload.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
.files .progress {
  width: 200px;
}
.progress-animated .bar {
  background: url(progressbar.gif) !important;
  filter: none;
}
.fileupload-loading {
  position: absolute;
  left: 50%;
  width: 128px;
  height: 128px;
  background: url(loading.gif) center no-repeat;
  display: none;
}
.fileupload-processing .fileupload-loading {
  display: block;
}

/* Fix for IE 6: */
* html .fileinput-button {
  line-height: 24px;
  margin: 1px -3px 0 0;
}

/* Fix for IE 7: */
* + html .fileinput-button {
  padding: 2px 15px;
  margin: 1px 0 0 0;
}

@media (max-width: 767px) {
  .files .btn span {
    display: none;
  }
  .files .preview * {
    width: 40px;
  }
  .files .name * {
    width: 80px;
    display: inline-block;
    word-wrap: break-word;
  }
  .files .progress {
    width: 20px;
  }
  .files .delete {
    width: 60px;
  }
}