.last10 {
	margin: auto;
	width: 250px;
	height: 30px;
	border-width: 1px;
	border-color: #000;
	border-style: solid;
	background-color: #fff;
	color: #fff;
	font-size: 20px;
	overflow: hidden;
}

.bet_box {
	border-width: 1px;
	border-color: #000;
	border-style: solid;
	background-color: #fff;
	color: #333;
	font-size: 20px;
	margin: auto;
	padding: 6px;
}

table {
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	padding: 0px;
	border-collapse: collapse;
}

td {
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	padding: 5px;
}

.stat_table {
	margin-left: auto;
	margin-right: auto;
	max-width: 920px;
}

.red_numbers {
	background-color: #f00;
}

.black_numbers {
	background-color: #000;
}

.grey_numbers {
	background-color: #777;
}

.green_numbers {
	background-color: #0d0;
}

.stat_text {
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.upload_session {
	position: relative;
	left: 15px;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	background-image: url("../img/uploadCloud.jpg");
	background-size: contain;
}

.chart{
	height: 150px; 
	max-width: 920px; 
	margin: 0px auto;	
}