
.textured_text {
	background: url("../img/blackfelt.jpg") no-repeat center center;
	background-size: cover;
	color: #fff;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-stroke: 1px #fff;
	-moz-background-clip: text;
	background-clip: text;
}

.bet_table{
    border-style: solid;
    border-color: #ddd;
    border-width: 0px;
    background-color: #fff;
    width: auto;
    height: 450px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}


.table_labels{
	position: absolute;
	top: 200px;
	left: 20px;
	color: #000000;	
	font-family: Garamond;
	font-size: 20px;	
	text-align: center;
	line-height: 30px;	
}

/*----- table classes ---------*/
.roulette_table {
	font-family: Garamond;
}

.roulette_table_labels{
	color: #ffffff;	
	font-family: Garamond;
	font-size: 26px;	
	text-align: center;
	line-height: 30px;	
}

.roulette_stat_table_labels{
	font-family: Garamond;
	font-size: 14px;	
	text-align: center;	
}

/* container classes*/
.z_zz {
	height: 90px;
	width: 32px;
	float: left;	
}

.l_table {
	width: 424px;
	float: left;
}

/* row classes */
.twelve_group {
	width: 422px;
	color: #eeeeee;
	height: 30px;
	float: left;
	cursor: pointer;
}

.rrow {
	width: 422px;
	height: 30px;	
}

.b_row_1 {
	width: 422px;
	height:30px;
}

.b_row_2 {
	width: 422px;
	height: 30px;
}

/* data cell classes */
.zztop {
	width: 40px;
	height: 31px;
}

.zz {
	width: 30px;
	height: 45px;	
}

.z {
	width: 30px;
	height: 45px;	
}

.eur_z {
	width: 30px;
	height: 90px;
}

.tdr {
	/*background-image: url("../img/redfelt.jpg");*/
	color: #ff0000;
	padding: 0px;
	margin: 0px;
	width: 30px;
	height: 30px;
	float: left;
	cursor: pointer;	
}

.tdb {
	/*background-image: url("../img/blackfelt.jpg");*/
	color: #000000;
	padding: 0px;
	margin: 0px;
	width: 30px;
	height: 30px;
	float: left;
	cursor: pointer;	
}

.tdg {
	padding: 0px;
	margin: 0px;
	/*background-image: url("../img/greenfelt.jpg");*/
	color: #00ff00;
	cursor: pointer;
}

._trb {
  color: #eeeeee;
	padding: 0px;
	margin: 0px;
	width: 190px;
	height: 30px;
	float: left;
	cursor: pointer;	
}

._trbb {
  color: #eeeeee;
	padding: 0px;
	margin: 0px;
	margin: 0px;
	height: 30px;
	width: 94px;
	float: left;
	cursor: pointer;	
}

._trbb_red {
	/*background-image: url("../img/redfelt.jpg");*/
	background-color: #ff0000;
	color: #eeeeee;
	padding: 0px;
	margin: 0px;
	width: 94px;
	height: 30px;
	float: left;
	cursor: pointer;	
}

._trbb_black {
	/*background-image: url("../img/blackfelt.jpg");*/
	background-color: #000000;
	color: #eeeeee;
	padding: 0px;
	margin: 0px;
	width: 94px;
	height: 30px;
	float: left;
	cursor: pointer;	
}

._tr {
  color: #eeeeee;
	padding: 0px;
	margin: 0px;
	width: 30px;
	height: 30px;
	float: left;
	cursor: pointer;
}

._trt {
  color: #eeeeee;
	padding: 0px;
	margin: 0px;
	width: 126px;
	height: 30px;
	float: left;
}

/*table buttons ------*/
.table_buttons_container{
  position: absolute;
  bottom: 10px;
  right: 10px;
	background-color: #777;
	padding: 2px;
	border-radius: 15px;
}

.table_button {
	position: relative;
	left: 4px;
	padding-left: 4px;
	padding-right: 0px;
	margin: 4px;
	float: left;
	background-repeat: no-repeat;
}

.button_border{
	border-radius: 16px;
	border-width: 2px;
	border-style: solid;
	border-color: #eee;	
}

.twox_button{
	width: 32px;
	height: 32px;
	background-image: url("../img/twoX.png");
	background-size: contain;
	border-radius: 16px;	
}

.gear_button{
	width: 32px;
	height: 32px;
	background-image: url("../img/gear.png");
	background-size: contain;
	border-radius: 16px;
}

.spin_button{
	width: 32px;
	height: 32px;
	background-image: url("../img/spin.png");
	background-size: contain;
	border-radius: 16px;	
}

.hint_button{
	width: 32px;
	height: 32px;
	background-image: url("../img/bulb.png");
	background-size: contain;
	border-radius: 16px;	
}

.remove_all_button{
	width: 32px;
	height: 32px;
	background-image: url("../img/remove_all.png");
	background-size: contain;
	border-radius: 16px;	
}

.remove_last_button{
	width: 32px;
	height: 32px;
	background-image: url("../img/remove_last.png");
	background-size: contain;
	border-radius: 16px;	
}

.repeat_last_button{
	width: 32px;
	height: 32px;
	background-image: url("../img/repeat_last.png");
	background-size: contain;
	border-radius: 16px;	
}

/*-- chips classes --*/
.chips_container {
  float: none;
	background-color: #111;
	padding: 4px;
	border-radius: 15px;
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.chips_align {
	float: left;
	margin: 4px;
}

.selected_chip {
	background-color: #777;
	color: #fff;
}

.unselected_chip {
	background-color: #fff;
	color: #000;
}

.chips_large {
	width: 55px;
	height: 55px;
	border-radius: 28px;
	line-height: 56px;
	text-align: center;
	font-size: 24px;
	color: #000;
	cursor: pointer;	
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */	
}

.chip0_large {
	background-image: url("../img/chips_large.png");
	background-position: left -1px top -1px;
}

.chip1_large {
	background-image: url("../img/chips_large.png");
	background-position: left 117px top -1px;
}

.chip2_large {
	background-image: url("../img/chips_large.png");
	background-position: left 177px top -1px;
}

.chip3_large {
	background-image: url("../img/chips_large.png");
	background-position: left 57px top -1px;
}

.chip4_large {
	background-image: url("../img/chips_large.png");
	background-position: left -1px top 57px;
}

.chip5_large {
	background-image: url("../img/chips_large.png");
	background-position: left 117px top 57px;
}

.chip6_large {
	background-image: url("../img/chips_large.png");
	background-position: left -1px top -67px;
}

.chip7_large {
	background-image: url("../img/chips_large.png");
	background-position: left 117px top -67px;
}

.chips_small {
	width: 28px;
	height: 28px;
	border-radius: 14px;
	line-height: 28px;
	text-align: center;
	font-size: 11px;
	color: #000;
	cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */		
}

.tchip {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
	margin-left: 0px;
}

.chip0_small {
	background-image: url("../img/chips_small.png");
}

.chip1_small {
	background-image: url("../img/chips_small.png");
	background-position: left 57px top 0px;
}

.chip2_small {
	background-image: url("../img/chips_small.png");
	background-position: left 201px top 0px;
}

.chip3_small {
	background-image: url("../img/chips_small.png");
	background-position: left 28px top 0px;
}

.chip4_small {
	background-image: url("../img/chips_small.png");
	background-position: left 0px top 28px;
}

.chip5_small {
	background-image: url("../img/chips_small.png");
	background-position: left 57px top 28px;
}

.chip6_small {
	background-image: url("../img/chips_small.png");
	background-position: left 0px top 59px;
}

.chip7_small {
	background-image: url("../img/chips_small.png");
	background-position: left 57px top 59px;
}

.chip8_small {
	background-image: url("../img/chips_small.png");
	background-position: left 57px top 59px;
}

.chip9_small {
	background-image: url("../img/chips_small.png");
	background-position: left 57px top 59px;
}

.chip10_small {
	background-image: url("../img/chips_small.png");
	background-position: left 57px top 59px;
}

.appVarInpute{
	z-index: 1;
	float: left;
}