body{ padding: 0; margin: 0; background-color: #aec6ce; }
.content {
	background-color: #FFF;
	border-style: solid;
	border-size: 3px;
}
.button{
	display:block;
	height:14px;
	width:14px;	
}
.del{
	background-image:url('Images/del.png');
}
.edit{
	background-image:url('Images/edit.png');
}
td{
	border-style: solid;
	margin: 5px;
	padding: 5px;
}
.soundsTable td{
	border-style: none;
}

.vcPanelTopl{
	background-image: url("Images/BoxGraphics_02.png");	
    background-repeat: no-repeat;	
	width: 11px;
	height: 54px;
}
.vcPanelTopRepeat{
	background-image:url("Images/BoxGraphics_03.png");
	background-repeat: repeat-x;	
	width: 50px;
	height: 54px;	
}
.vcPanelTopr{
	background-image: url("Images/BoxGraphics_04.png");
    background-repeat: no-repeat;	
	width: 12px;
	height: 54px;
}
.vcPanelLRepeat{
	background-image:url("Images/BoxGraphics_05.png");
    background-repeat: repeat-y;	
	width: 11px;
	height: 5px;
}
.vcPanelRRepeat{
	background-image:url("Images/BoxGraphics_07.png");
    background-repeat: repeat-y;	
	width: 12px;
	height: 5px;		
}
.vcPanelBottoml{
	background-image: url("Images/BoxGraphics_08.png");
    background-repeat: no-repeat;	
	width: 11px;
	height: 14px;		
}
.vcPanelBottomRepeat{
	background-image: url("Images/BoxGraphics_09.png");
	background-repeat: repeat-x;	
	width: 50px;
	height: 14px;	
}
.vcPanelBottomr{
	background-image: url("Images/BoxGraphics_10.png");	
    background-repeat: no-repeat;	
	width: 12px;
	height: 14px;	
}
.vcPanelArrow{
	background-image: url("Images/BoxGraphics_Arrow.png");
    background-repeat: no-repeat;	
	width: 35px;
	height:20px;
    z-index: 501;
    z-index: 501;
    top: -15px;
    right: 20px;
    position: absolute;	
}
#vcPanelContent{
	background-color: #FFF;
}
.vcPanel td{
	border-style: none;
	margin: 0px;
	padding: 0px;
}
.vcPanel{
	display:none;
    position: fixed;
    z-index: 500;
    left: 25px;
	font-family: Helvetica;
}