<div id="roulette_table" class="roulette_table">
	<div id="z_zz" class="z_zz">
		<div class="zztop" id="spawn"></div>
		<div class="zz tdg border_black roulette_table_labels lh_60" id="b00">
			00
			<div class="box_info" id="box_info00"></div>
		</div>
		<div class="z tdg border_black roulette_table_labels lh_60" id="b0">
			0
			<div class="box_info" id="box_info0"></div>
		</div>
	</div>
	<div id="l_table" class="l_table">
		<div id="twelve_group" class="twelve_group">
			<div class="_trt border_black roulette_table_labels" id="b1_12">
				1 - 12
				<div class="box_info" id="box_info1_12"></div>
			</div>
			<div class="_trt border_black roulette_table_labels" id="b13_24">
				13 - 24
				<div class="box_info" id="box_info13_24"></div>
			</div>
			<div class="_trt border_black roulette_table_labels" id="b25_36">
				25 - 36
				<div class="box_info" id="box_info25_36"></div>
			</div>
		</div>
		<div id="rrow1" class="rrow">
			<div class="tdr border_black roulette_table_labels" id="b3">
				3
				<div class="box_info" id="box_info3"></div>
			</div>
			<div class="tdb border_black roulette_table_labels" id="b6">
				6
				<div class="box_info" id="box_info6"></div>
			</div>
			<div class="tdr border_black roulette_table_labels" id="b9">
				9
				<div class="box_info" id="box_info9"></div>
			</div>
			<div class="tdr border_black roulette_table_labels" id="b12">
				12
				<div class="box_info" id="box_info12"></div>
			</div>
			<div class="tdb border_black roulette_table_labels" id="b15">
				15
				<div class="box_info" id="box_info15"></div>
			</div>
			<div class="tdr border_black roulette_table_labels" id="b18">
				18
				<div class="box_info" id="box_info18"></div>
			</div>
			<div class="tdr border_black roulette_table_labels" id="b21">
				21
				<div class="box_info" id="box_info21"></div>
			</div>
			<div class="tdb border_black roulette_table_labels" id="b24">
				24
				<div class="box_info" id="box_info24"></div>
			</div>
			<div class="tdr border_black roulette_table_labels" id="b27">
				27
				<div class="box_info" id="box_info27"></div>
			</div>
			<div class="tdr border_black roulette_table_labels" id="b30">
				30
				<div class="box_info" id="box_info30"></div>
			</div>
			<div class="tdb border_black roulette_table_labels" id="b33">
				33
				<div class="box_info" id="box_info33"></div>
			</div>
			<div class="tdr border_black roulette_table_labels" id="b36">
				36
				<div class="box_info" id="box_info36"></div>
			</div>
			<div class="_tr border_black roulette_table_labels" id="bR1">
				r1
				<div class="box_info" id="box_infoR1"></div>
			</div>
		</div>
		<div id="rrow2" class="rrow">
			<div class="tdb border_black roulette_table_labels" id="b2">
				2
				<div class="box_info" id="box_info2"></div>
			</div>
			<div class="tdr border_black roulette_table_labels" id="b5">
				5
				<div class="box_info" id="box_info5"></div>
			</div>
			<div class="tdb border_black roulette_table_labels" id="b8">
				8
				<div class="box_info" id="box_info8"></div>
			</div>
			<div class="tdb border_black roulette_table_labels" id="b11">
				11
				<div class="box_info" id="box_info11"></div>
			</div>
			<div class="tdr border_black roulette_table_labels" id="b14">
				14
				<div class="box_info" id="box_info14"></div>
			</div>
			<div class="tdb border_black roulette_table_labels" id="b17">
				17
				<div class="box_info" id="box_info17"></div>
			</div>
			<div class="tdb border_black roulette_table_labels" id="b20">
				20
				<div class="box_info" id="box_info20"></div>
			</div>
			<div class="tdr border_black roulette_table_labels" id="b23">
				23
				<div class="box_info" id="box_info23"></div>
			</div>
			<div class="tdb border_black roulette_table_labels" id="b26">
				26
				<div class="box_info" id="box_info26"></div>
			</div>
			<div class="tdb border_black roulette_table_labels" id="b29">
				29
				<div class="box_info" id="box_info29"></div>
			</div>
			<div class="tdr border_black roulette_table_labels" id="b32">
				32
				<div class="box_info" id="box_info32"></div>
			</div>
			<div class="tdb border_black roulette_table_labels" id="b35">
				35
				<div class="box_info" id="box_info35"></div>
			</div>
			<div class="_tr border_black roulette_table_labels" id="bR2">
				r2
				<div class="box_info" id="box_infoR2"></div>
			</div>
		</div>
		<div id="rrow3" class="rrow">
			<div class="tdr border_black roulette_table_labels" id="b1">
				1
				<div class="box_info" id="box_info1"></div>
			</div>
			<div class="tdb border_black roulette_table_labels" id="b4">
				4
				<div class="box_info" id="box_info4"></div>
			</div>
			<div class="tdr border_black roulette_table_labels" id="b7">
				7
				<div class="box_info" id="box_info7"></div>
			</div>
			<div class="tdb border_black roulette_table_labels" id="b10">
				10
				<div class="box_info" id="box_info10"></div>
			</div>
			<div class="tdb border_black roulette_table_labels" id="b13">
				13
				<div class="box_info" id="box_info13"></div>
			</div>
			<div class="tdr border_black roulette_table_labels" id="b16">
				16
				<div class="box_info" id="box_info16"></div>
			</div>
			<div class="tdr border_black roulette_table_labels" id="b19">
				19
				<div class="box_info" id="box_info19"></div>
			</div>
			<div class="tdb border_black roulette_table_labels" id="b22">
				22
				<div class="box_info" id="box_info22"></div>
			</div>
			<div class="tdr border_black roulette_table_labels" id="b25">
				25
				<div class="box_info" id="box_info25"></div>
			</div>
			<div class="tdb border_black roulette_table_labels" id="b28">
				28
				<div class="box_info" id="box_info28"></div>
			</div>
			<div class="tdb border_black roulette_table_labels" id="b31">
				31
				<div class="box_info" id="box_info31"></div>
			</div>
			<div class="tdr border_black roulette_table_labels" id="b34">
				34
				<div class="box_info" id="box_info34"></div>
			</div>
			<div class="_tr border_black roulette_table_labels" id="bR3">
				r3
				<div class="box_info" id="box_infoR3"></div>
			</div>
		</div>
		<div id="b_row_1" class="b_row_1">
			<div class="_trb border_black roulette_table_labels" id="b1_18">
				1 - 18
				<div class="box_info" id="box_info1_18"></div>
			</div>
			<div class="_trb border_black roulette_table_labels" id="b19_36">
				19 - 36
				<div class="box_info" id="box_info19_36"></div>
			</div>
		</div>
		<div id="b_row_2" class="b_row_2">
			<div class="_trbb border_black roulette_table_labels" id="bEven">
				even
				<div class="box_info" id="box_infoEven"></div>
			</div>
			<div class="_trbb_red border_black roulette_table_labels" id="bRed">
				red
				<div class="box_info" id="box_infoRed"></div>
			</div>
			<div class="_trbb_black border_black roulette_table_labels" id="bBlack">
				black
				<div class="box_info" id="box_infoBlack"></div>
			</div>
			<div class="_trbb border_black roulette_table_labels" id="bOdd">
				odd
				<div class="box_info" id="box_infoOdd"></div>
			</div>
		</div>
	</div>
</div>
