<div class="msg" style="float:left;">
    <div class="hd">
        <h2>Explorer:</h2>
    </div>
   <div class="content">
        <div id="ExplorerSearch">
            <input type="text" id="serchtext" value=""/>
            <input type="button" value="[ SEARCH ]"/> 
        </div>
    </div>
   <div class="content" id="explorer_content" style="float:left;">
            <div id="tree_listing"  class="msg" style="background-color: #fff; float: left;">
                <div class="hd">
                    <h2>Response1</h2>
                </div>
                <div id="tree">
                </div>
            </div>
            <div id="file_view" class="msg" style="background-color: #fff; float: left; width:480px; height:280px;">
                <div class="hd">
                    <h2>Response</h2>
                </div>
                <div id="view">
                    file
                </div>
            </div>              
   </div>    
</div>