
<div id="stat_table" class="stat_table">
	<div class="header">
		<input type="button" id="rand_number" value="rand" /> 
		<input type="text" id="num_input" type="number" /> 
		<input type="button" id="add_number" value="Add Number" /> 
		<input type="button" id="upload_session" class="upload_session" />
	</div>
	<br> <br>
	<div id="last10" class="last10"></div>
	<label>Nums in Series: </label> <label id="numsInSeries">0</label> <br>
	<br>
	
<div id="betBox1_1" class="bet_box"><h3>1:1 Bets</h3><label class="form-switch" style="float: right; top:-30px; position:relative;"><input type="checkbox" id="process1_1" checked><i></i>alert bets</label></div>
<div id="1_1">	
	<div id="chartContainer" class="chart hide"></div>
	<table class="stat_table">
		<tr>
			<td>Name</td>
			<td>%Hit</td>
			<td>#Wins In Row</td>
			<td>#Losses to go till .1%</td>
			<td>Probability of loss</td>
		</tr>
		<tr class="green_numbers stat_text">
			<td>Green</td>
			<td id="hitPercentg0_00">0</td>
			<td id="spinsSinceg0_00">never</td>
			<td id="hottnessg0_00"></td>
			<td id="probLossg0_00"></td>
		</tr>
		<tr class="red_numbers stat_text">
			<td>Red</td>
			<td id="hitPercentred">0</td>
			<td id="spinsSincered">never</td>
			<td id="hottnessred"></td>
			<td id="probLossred"></td>
		</tr>
		<tr class="black_numbers stat_text">
			<td>Black</td>
			<td id="hitPercentblack">0</td>
			<td id="spinsSinceblack">never</td>
			<td id="hottnessblack"></td>
			<td id="probLossblack"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Odd</td>
			<td id="hitPercentodd" class="side_bets">0</td>
			<td id="spinsSinceodd">never</td>
			<td id="hottnessodd"></td>
			<td id="probLossodd"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Even</td>
			<td id="hitPercenteven" class="side_bets">0</td>
			<td id="spinsSinceeven">never</td>
			<td id="hottnesseven"></td>
			<td id="probLosseven"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>High</td>
			<td id="hitPercenthigh" class="side_bets">0</td>
			<td id="spinsSincehigh">never</td>
			<td id="hottnesshigh"></td>
			<td id="probLosshigh"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Low</td>
			<td id="hitPercentlow" class="side_bets">0</td>
			<td id="spinsSincelow">never</td>
			<td id="hottnesslow"></td>
			<td id="probLosslow"></td>
		</tr>
	</table>
</div>
<br><br>

<div id="betBox2_1" class="bet_box"><h3>2:1 Bets</h3><label class="form-switch" style="float: right; top:-30px; position:relative;"><input type="checkbox" id="process2_1" checked><i></i>alert bets</label></div>
<div id="2_1">
	<div id="chartContainer1" class="chart hide"></div>
	<table class="stat_table">
		<tr>
			<td>Name</td>
			<td>%Hit</td>
			<td>#Wins In Row</td>
			<td>#Losses to go till .1%</td>
			<td>Probability of loss</td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>1-12</td>
			<td id="hitPercentg1_12" class="side_bets">0</td>
			<td id="spinsSinceg1_12">never</td>
			<td id="hottnessg1_12"></td>
			<td id="probLossg1_12"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>13-24</td>
			<td id="hitPercentg13_24" class="side_bets">0</td>
			<td id="spinsSinceg13_24">never</td>
			<td id="hottnessg13_24"></td>
			<td id="probLossg13_24"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>25-36</td>
			<td id="hitPercentg25_36" class="side_bets">0</td>
			<td id="spinsSinceg25_36">never</td>
			<td id="hottnessg25_36"></td>
			<td id="probLossg25_36"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>r1</td>
			<td id="hitPercentr1" class="side_bets">0</td>
			<td id="spinsSincer1">never</td>
			<td id="hottnessr1"></td>
			<td id="probLossr1"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>r2</td>
			<td id="hitPercentr2" class="side_bets">0</td>
			<td id="spinsSincer2">never</td>
			<td id="hottnessr2"></td>
			<td id="probLossr2"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>r3</td>
			<td id="hitPercentr3" class="side_bets">0</td>
			<td id="spinsSincer3">never</td>
			<td id="hottnessr3"></td>
			<td id="probLossr3"></td>
		</tr>
	</table>
</div>
<br><br>

<div id="betBox5_1" class="bet_box"><h3>5:1 Bets</h3><label class="form-switch" style="float: right; top:-30px; position:relative;"><input type="checkbox" id="process5_1" checked><i></i>alert bets</label></div>
<div id="5_1">
	<div id="chartContainer2" class="chart hide"></div>
	<table class="stat_table">
		<tr>
			<td>Name</td>
			<td>%Hit</td>
			<td>#Wins In Row</td>
			<td>#Losses to go till .1%</td>
			<td>Probability of loss</td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Double Street 1</td>
			<td id="hitPercentds1" class="side_bets">0</td>
			<td id="spinsSinceds1">never</td>
			<td id="hottnessds1"></td>
			<td id="probLossds1"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Double Street 2</td>
			<td id="hitPercentds2" class="side_bets">0</td>
			<td id="spinsSinceds2">never</td>
			<td id="hottnessds2"></td>
			<td id="probLossds2"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Double Street 3</td>
			<td id="hitPercentds3" class="side_bets">0</td>
			<td id="spinsSinceds3">never</td>
			<td id="hottnessds3"></td>
			<td id="probLossds3"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Double Street 4</td>
			<td id="hitPercentds4" class="side_bets">0</td>
			<td id="spinsSinceds4">never</td>
			<td id="hottnessds4"></td>
			<td id="probLossds4"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Double Street 5</td>
			<td id="hitPercentds5" class="side_bets">0</td>
			<td id="spinsSinceds5">never</td>
			<td id="hottnessds5"></td>
			<td id="probLossds5"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Double Street 6</td>
			<td id="hitPercentds6" class="side_bets">0</td>
			<td id="spinsSinceds6">never</td>
			<td id="hottnessds6"></td>
			<td id="probLossds6"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Double Street 7</td>
			<td id="hitPercentds7" class="side_bets">0</td>
			<td id="spinsSinceds7">never</td>
			<td id="hottnessds7"></td>
			<td id="probLossds7"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Double Street 8</td>
			<td id="hitPercentds8" class="side_bets">0</td>
			<td id="spinsSinceds8">never</td>
			<td id="hottnessds8"></td>
			<td id="probLossds8"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Double Street 9</td>
			<td id="hitPercentds9" class="side_bets">0</td>
			<td id="spinsSinceds9">never</td>
			<td id="hottnessds9"></td>
			<td id="probLossds9"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Double Street 10</td>
			<td id="hitPercentds10" class="side_bets">0</td>
			<td id="spinsSinceds10">never</td>
			<td id="hottnessds10"></td>
			<td id="probLossds10"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Double Street 11</td>
			<td id="hitPercentds11" class="side_bets">0</td>
			<td id="spinsSinceds11">never</td>
			<td id="hottnessds11"></td>
			<td id="probLossds11"></td>
		</tr>		
	</table>			
</div>
<br><br>

<div id="betBox8_1" class="bet_box"><h3>8:1 Bets</h3><label class="form-switch" style="float: right; top:-30px; position:relative;"><input type="checkbox" id="process8_1" checked><i></i>alert bets</label></div>
<div id="8_1">
	<div id="chartContainer4" class="chart hide"></div>
	<table class="stat_table">
		<tr>
			<td>Name</td>
			<td>%Hit</td>
			<td>#Wins In Row</td>
			<td>#Losses to go till .1%</td>
			<td>Probability of loss</td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Corner 1</td>
			<td id="hitPercentc1" class="side_bets">0</td>
			<td id="spinsSincec1">never</td>
			<td id="hottnessc1"></td>
			<td id="probLossc1"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Corner 2</td>
			<td id="hitPercentc2" class="side_bets">0</td>
			<td id="spinsSincec2">never</td>
			<td id="hottnessc2"></td>
			<td id="probLossc2"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Corner 3</td>
			<td id="hitPercentc3" class="side_bets">0</td>
			<td id="spinsSincec3">never</td>
			<td id="hottnessc3"></td>
			<td id="probLossc3"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Corner 4</td>
			<td id="hitPercentc4" class="side_bets">0</td>
			<td id="spinsSincec4">never</td>
			<td id="hottnessc4"></td>
			<td id="probLossc4"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Corner 5</td>
			<td id="hitPercentc5" class="side_bets">0</td>
			<td id="spinsSincec5">never</td>
			<td id="hottnessc5"></td>
			<td id="probLossc5"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Corner 6</td>
			<td id="hitPercentc6" class="side_bets">0</td>
			<td id="spinsSincec6">never</td>
			<td id="hottnessc6"></td>
			<td id="probLossc6"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Corner 7</td>
			<td id="hitPercentc7" class="side_bets">0</td>
			<td id="spinsSincec7">never</td>
			<td id="hottnessc7"></td>
			<td id="probLossc7"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Corner 8</td>
			<td id="hitPercentc8" class="side_bets">0</td>
			<td id="spinsSincec8">never</td>
			<td id="hottnessc8"></td>
			<td id="probLossc8"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Corner 9</td>
			<td id="hitPercentc9" class="side_bets">0</td>
			<td id="spinsSincec9">never</td>
			<td id="hottnessc9"></td>
			<td id="probLossc9"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Corner 10</td>
			<td id="hitPercentc10" class="side_bets">0</td>
			<td id="spinsSincec10">never</td>
			<td id="hottnessc10"></td>
			<td id="probLossc10"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Corner 11</td>
			<td id="hitPercentc11" class="side_bets">0</td>
			<td id="spinsSincec11">never</td>
			<td id="hottnessc11"></td>
			<td id="probLossc11"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Corner 12</td>
			<td id="hitPercentc12" class="side_bets">0</td>
			<td id="spinsSincec12">never</td>
			<td id="hottnessc12"></td>
			<td id="probLossc12"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Corner 13</td>
			<td id="hitPercentc13" class="side_bets">0</td>
			<td id="spinsSincec13">never</td>
			<td id="hottnessc13"></td>
			<td id="probLossc13"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Corner 14</td>
			<td id="hitPercentc14" class="side_bets">0</td>
			<td id="spinsSincec14">never</td>
			<td id="hottnessc14"></td>
			<td id="probLossc14"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Corner 15</td>
			<td id="hitPercentc15" class="side_bets">0</td>
			<td id="spinsSincec15">never</td>
			<td id="hottnessc15"></td>
			<td id="probLossc15"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Corner 16</td>
			<td id="hitPercentc16" class="side_bets">0</td>
			<td id="spinsSincec16">never</td>
			<td id="hottnessc16"></td>
			<td id="probLossc16"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Corner 17</td>
			<td id="hitPercentc17" class="side_bets">0</td>
			<td id="spinsSincec17">never</td>
			<td id="hottnessc17"></td>
			<td id="probLossc17"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Corner 18</td>
			<td id="hitPercentc18" class="side_bets">0</td>
			<td id="spinsSincec18">never</td>
			<td id="hottnessc18"></td>
			<td id="probLossc18"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Corner 19</td>
			<td id="hitPercentc19" class="side_bets">0</td>
			<td id="spinsSincec19">never</td>
			<td id="hottnessc19"></td>
			<td id="probLossc19"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Corner 20</td>
			<td id="hitPercentc20" class="side_bets">0</td>
			<td id="spinsSincec20">never</td>
			<td id="hottnessc20"></td>
			<td id="probLossc20"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Corner 21</td>
			<td id="hitPercentc21" class="side_bets">0</td>
			<td id="spinsSincec21">never</td>
			<td id="hottnessc21"></td>
			<td id="probLossc21"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Corner 22</td>
			<td id="hitPercentc22" class="side_bets">0</td>
			<td id="spinsSincec22">never</td>
			<td id="hottnessc22"></td>
			<td id="probLossc22"></td>
		</tr>
	</table>			
</div>
<br><br>

<div id="betBox11_1" class="bet_box"><h3>11:1 Bets</h3><label class="form-switch" style="float: right; top:-30px; position:relative;"><input type="checkbox" id="process11_1" checked><i></i>alert bets</label></div>
<div id="11_1">
	<div id="chartContainer3" class="chart hide"></div>
	<table class="stat_table">
		<tr>
			<td>Name</td>
			<td>%Hit</td>
			<td>#Wins In Row</td>
			<td>#Losses to go till .1%</td>
			<td>Probability of loss</td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Street 1</td>
			<td id="hitPercents1" class="side_bets">0</td>
			<td id="spinsSinces1">never</td>
			<td id="hottnesss1"></td>
			<td id="probLosss1"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Street 2</td>
			<td id="hitPercents2" class="side_bets">0</td>
			<td id="spinsSinces2">never</td>
			<td id="hottnesss2"></td>
			<td id="probLosss2"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Street 3</td>
			<td id="hitPercents3" class="side_bets">0</td>
			<td id="spinsSinces3">never</td>
			<td id="hottnesss3"></td>
			<td id="probLosss3"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Street 4</td>
			<td id="hitPercents4" class="side_bets">0</td>
			<td id="spinsSinces4">never</td>
			<td id="hottnesss4"></td>
			<td id="probLosss4"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Street 5</td>
			<td id="hitPercents5" class="side_bets">0</td>
			<td id="spinsSinces5">never</td>
			<td id="hottnesss5"></td>
			<td id="probLosss5"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Street 6</td>
			<td id="hitPercents6" class="side_bets">0</td>
			<td id="spinsSinces6">never</td>
			<td id="hottnesss6"></td>
			<td id="probLosss6"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Street 7</td>
			<td id="hitPercents7" class="side_bets">0</td>
			<td id="spinsSinces7">never</td>
			<td id="hottnesss7"></td>
			<td id="probLosss7"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Street 8</td>
			<td id="hitPercents8" class="side_bets">0</td>
			<td id="spinsSinces8">never</td>
			<td id="hottnesss8"></td>
			<td id="probLosss8"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Street 9</td>
			<td id="hitPercents9" class="side_bets">0</td>
			<td id="spinsSinces9">never</td>
			<td id="hottnesss9"></td>
			<td id="probLosss9"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Street 10</td>
			<td id="hitPercents10" class="side_bets">0</td>
			<td id="spinsSinces10">never</td>
			<td id="hottnesss10"></td>
			<td id="probLosss10"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Street 11</td>
			<td id="hitPercents11" class="side_bets">0</td>
			<td id="spinsSinces11">never</td>
			<td id="hottnesss11"></td>
			<td id="probLosss11"></td>
		</tr>
		<tr class="grey_numbers stat_text">
			<td>Street 12</td>
			<td id="hitPercents12" class="side_bets">0</td>
			<td id="spinsSinces12">never</td>
			<td id="hottnesss12"></td>
			<td id="probLosss12"></td>
		</tr>		
	</table>			
</div>
<br><br>

<div id="betBox35_1" class="bet_box"><h3>35:1 Bets</h3><label class="form-switch" style="float: right; top:-30px; position:relative;"><input type="checkbox" id="process35_1" checked><i></i>alert bets</label></div>
<div id="35_1">	
	<h4>Space Between Nums Hitting</h4>
	<table class="stat_table">
		<tr>
			<td>Sd</td>
			<td>Mean</td>
		<tr>
			<td id="sd"></td>
			<td id="mean"></td>
		</tr>
	</table>
	<br> <br>
	<table class="stat_table">
		<tr>
			<td>Number</td>
			<td>%Hit last 35</td>
			<td>#Wins In Row</td>
			<td>Num Hits</td>
			<td>Probability of loss</td>
		</tr>
		<tr id="stat00" class="hide">
			<td>00</td>
			<td id="hitPercent37">0</td>
			<td id="spinsSince37">never</td>
			<td id="numHits37">0</td>
			<td id="probLoss37"></td>
		</tr>
		<tr class="green_numbers stat_text">
			<td>0</td>
			<td id="hitPercent0">0</td>
			<td id="spinsSince0">never</td>
			<td id="numHits0">0</td>
			<td id="probLoss0"></td>
		</tr>
		<tr class="red_numbers stat_text">
			<td>1</td>
			<td id="hitPercent1">0</td>
			<td id="spinsSince1">never</td>
			<td id="numHits1">0</td>
			<td id="probLoss1"></td>
		</tr>
		<tr class="black_numbers stat_text">
			<td>2</td>
			<td id="hitPercent2">0</td>
			<td id="spinsSince2">never</td>
			<td id="numHits2">0</td>
			<td id="probLoss2"></td>
		</tr>
		<tr class="red_numbers stat_text">
			<td>3</td>
			<td id="hitPercent3">0</td>
			<td id="spinsSince3">never</td>
			<td id="numHits3">0</td>
			<td id="probLoss3"></td>
		</tr>
		<tr class="black_numbers stat_text">
			<td>4</td>
			<td id="hitPercent4">0</td>
			<td id="spinsSince4">never</td>
			<td id="numHits4">0</td>
			<td id="probLoss4"></td>
		</tr>
		<tr class="red_numbers stat_text">
			<td>5</td>
			<td id="hitPercent5">0</td>
			<td id="spinsSince5">never</td>
			<td id="numHits5">0</td>
			<td id="probLoss5"></td>
		</tr>
		<tr class="black_numbers stat_text">
			<td>6</td>
			<td id="hitPercent6">0</td>
			<td id="spinsSince6">never</td>
			<td id="numHits6">0</td>
			<td id="probLoss6"></td>
		</tr>
		<tr class="red_numbers stat_text">
			<td>7</td>
			<td id="hitPercent7">0</td>
			<td id="spinsSince7">never</td>
			<td id="numHits7">0</td>
			<td id="probLoss7"></td>
		</tr>
		<tr class="black_numbers stat_text">
			<td>8</td>
			<td id="hitPercent8">0</td>
			<td id="spinsSince8">never</td>
			<td id="numHits8">0</td>
			<td id="probLoss8"></td>
		</tr>
		<tr class="red_numbers stat_text">
			<td>9</td>
			<td id="hitPercent9">0</td>
			<td id="spinsSince9">never</td>
			<td id="numHits9">0</td>
			<td id="probLoss9"></td>
		</tr>
		<tr class="black_numbers stat_text">
			<td>10</td>
			<td id="hitPercent10">0</td>
			<td id="spinsSince10">never</td>
			<td id="numHits10">0</td>
			<td id="probLoss10"></td>
		</tr>
		<tr class="black_numbers stat_text">
			<td>11</td>
			<td id="hitPercent11">0</td>
			<td id="spinsSince11">never</td>
			<td id="numHits11">0</td>
			<td id="probLoss11"></td>
		</tr>
		<tr class="red_numbers stat_text">
			<td>12</td>
			<td id="hitPercent12">0</td>
			<td id="spinsSince12">never</td>
			<td id="numHits12">0</td>
			<td id="probLoss12"></td>
		</tr>
		<tr class="black_numbers stat_text">
			<td>13</td>
			<td id="hitPercent13">0</td>
			<td id="spinsSince13">never</td>
			<td id="numHits13">0</td>
			<td id="probLoss13"></td>
		</tr>
		<tr class="red_numbers stat_text">
			<td>14</td>
			<td id="hitPercent14">0</td>
			<td id="spinsSince14">never</td>
			<td id="numHits14">0</td>
			<td id="probLoss14"></td>
		</tr>
		<tr class="black_numbers stat_text">
			<td>15</td>
			<td id="hitPercent15">0</td>
			<td id="spinsSince15">never</td>
			<td id="numHits15">0</td>
			<td id="probLoss15"></td>
		</tr>
		<tr class="red_numbers stat_text">
			<td>16</td>
			<td id="hitPercent16">0</td>
			<td id="spinsSince16">never</td>
			<td id="numHits16">0</td>
			<td id="probLoss16"></td>
		</tr>
		<tr class="black_numbers stat_text">
			<td>17</td>
			<td id="hitPercent17">0</td>
			<td id="spinsSince17">never</td>
			<td id="numHits17">0</td>
			<td id="probLoss17"></td>
		</tr>
		<tr class="red_numbers stat_text">
			<td>18</td>
			<td id="hitPercent18">0</td>
			<td id="spinsSince18">never</td>
			<td id="numHits18">0</td>
			<td id="probLoss18"></td>
		</tr>
		<tr class="red_numbers stat_text">
			<td>19</td>
			<td id="hitPercent19">0</td>
			<td id="spinsSince19">never</td>
			<td id="numHits19">0</td>
			<td id="probLoss19"></td>
		</tr>
		<tr class="black_numbers stat_text">
			<td>20</td>
			<td id="hitPercent20">0</td>
			<td id="spinsSince20">never</td>
			<td id="numHits20">0</td>
			<td id="probLoss20"></td>
		</tr>
		<tr class="red_numbers stat_text">
			<td>21</td>
			<td id="hitPercent21">0</td>
			<td id="spinsSince21">never</td>
			<td id="numHits21">0</td>
			<td id="probLoss21"></td>
		</tr>
		<tr class="black_numbers stat_text">
			<td>22</td>
			<td id="hitPercent22">0</td>
			<td id="spinsSince22">never</td>
			<td id="numHits22">0</td>
			<td id="probLoss22"></td>
		</tr>
		<tr class="red_numbers stat_text">
			<td>23</td>
			<td id="hitPercent23">0</td>
			<td id="spinsSince23">never</td>
			<td id="numHits23">0</td>
			<td id="probLoss23"></td>
		</tr>
		<tr class="black_numbers stat_text">
			<td>24</td>
			<td id="hitPercent24">0</td>
			<td id="spinsSince24">never</td>
			<td id="numHits24">0</td>
			<td id="probLoss24"></td>
		</tr>
		<tr class="red_numbers stat_text">
			<td>25</td>
			<td id="hitPercent25">0</td>
			<td id="spinsSince25">never</td>
			<td id="numHits25">0</td>
			<td id="probLoss25"></td>
		</tr>
		<tr class="black_numbers stat_text">
			<td>26</td>
			<td id="hitPercent26">0</td>
			<td id="spinsSince26">never</td>
			<td id="numHits26">0</td>
			<td id="probLoss26"></td>
		</tr>
		<tr class="red_numbers stat_text">
			<td>27</td>
			<td id="hitPercent27">0</td>
			<td id="spinsSince27">never</td>
			<td id="numHits27">0</td>
			<td id="probLoss27"></td>
		</tr>
		<tr class="black_numbers stat_text">
			<td>28</td>
			<td id="hitPercent28">0</td>
			<td id="spinsSince28">never</td>
			<td id="numHits28">0</td>
			<td id="probLoss28"></td>
		</tr>
		<tr class="black_numbers stat_text">
			<td>29</td>
			<td id="hitPercent29">0</td>
			<td id="spinsSince29">never</td>
			<td id="numHits29">0</td>
			<td id="probLoss29"></td>
		</tr>
		<tr class="red_numbers stat_text">
			<td>30</td>
			<td id="hitPercent30">0</td>
			<td id="spinsSince30">never</td>
			<td id="numHits30">0</td>
			<td id="probLoss30"></td>
		</tr>
		<tr class="black_numbers stat_text">
			<td>31</td>
			<td id="hitPercent31">0</td>
			<td id="spinsSince31">never</td>
			<td id="numHits31">0</td>
			<td id="probLoss31"></td>
		</tr>
		<tr class="red_numbers stat_text">
			<td>32</td>
			<td id="hitPercent32">0</td>
			<td id="spinsSince32">never</td>
			<td id="numHits32">0</td>
			<td id="probLoss32"></td>
		</tr>
		<tr class="black_numbers stat_text">
			<td>33</td>
			<td id="hitPercent33">0</td>
			<td id="spinsSince33">never</td>
			<td id="numHits33">0</td>
			<td id="probLoss33"></td>
		</tr>
		<tr class="red_numbers stat_text">
			<td>34</td>
			<td id="hitPercent34">0</td>
			<td id="spinsSince34">never</td>
			<td id="numHits34">0</td>
			<td id="probLoss34"></td>
		</tr>
		<tr class="black_numbers stat_text">
			<td>35</td>
			<td id="hitPercent35">0</td>
			<td id="spinsSince35">never</td>
			<td id="numHits35">0</td>
			<td id="probLoss35"></td>
		</tr>
		<tr class="red_numbers stat_text">
			<td>36</td>
			<td id="hitPercent36">0</td>
			<td id="spinsSince36">never</td>
			<td id="numHits36">0</td>
			<td id="probLoss36"></td>
		</tr>
	</table>
</div>	
</div>